.container-1 {
display:border-box;

}

hr {
  margin-left: 20%;
  margin-right: 20%;
}


footer {
  height:350px;
  font-family: Arial, Helvetica, sans-serif
}
.container-footer {
  box-sizing: border-box;
  width: 600px;
  height: 200px;
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  
}

h1 {
  margin-left: 20%;
}

h3 {
  margin-left: 35%;
}

.chat-button {
  margin-left: 90px;
  padding: 15px;
  width:220px;
  border-radius: 10px;
  background-color: white;
  border: none;

}

#chat-text {
  color:  rgb(50, 50, 255);
  font-size: 15px;
}

#chat {
  margin-left: 50px;
}

.get-started-button {
  padding: 15px;
  width: 250px;
  border-radius: 10px;
  background-color: #7ed122;
  border: none;
  margin-bottom: 30px;
  margin-top: 15px;
  font-size: 15px;
  color:white;
  font-weight:600;

}

#started-text {
  margin-right: 50px;
}

.ellipse {
  margin: 10px;
  position: relative; top: -7px; 
 
}